<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page_list</title>
</head>

<h1> Hello</h1>

{% extends 'base.html' %}
{% block title %}
<h2>Page list</h2>
{% endblock %}

{% block content %}
{% if page_list %}
<div class="row">
    {% for page in page %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:page_detail' page.id %}">
        {{ page.name }}
        </a></h4>
        <!--<h5>{{ page.review_set.count }} reviews</h5>-->
        <!--<h5>{{ page.average_rating | floatformat }} average rating</h5>-->
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No page are available.</p>
{% endif %}
{% endblock %}

<body>

</body>
</html>


