{% extends 'base.html' %}

{% block title %}
<h2>Comments of {{user_name}}</h2>
{% endblock %}

{% block content %}
{% if comment_list %}

<div class="table-responsive">
    <h2>Recommended posts for {{ user_name }}</h2>
    <h3><a href="{% url 'recsys:user_recommended_posts' user_id%}">
        Tf-idf Recommender</a></h3>
    <h3><a href="{% url 'recsys:recommendation_d2v' user_id%}">
        Doc2Vec Recommender</a></h3>
    <h3><a href="{% url 'recsys:recommendation_CF' user_id%}">
        Item-item Collaborative Filtering Recommender</a></h3>
        
    <h2>Posts {{user_name}} has read</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Created time</th>
            <th>Message</th>
            <th>Post content</th>
            <th>Post id</th>
        </tr>
        </thead>
        {% for comment in comment_list %}
        <tbody>
        <tr>
            <td>{{ comment.created_time }}</td>
            <td>{{ comment.message }}</td>
            <td>{{ comment.post_id.message }}</td>
            <td><a href="{% url 'recsys:post_detail' comment.post_id.id %}">
                {{ comment.post_id.id }} </a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% else %}
<p>No comments are available for this user.</p>
{% endif %}
{% endblock %}
