{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if found_entries %}
<div class="container">
	<div class="row">
		<div class="span12">
			<div id="main" role="main">
			    <ul id="tiles" class="unstyled">
                {% for user in found_entries %}
                <li>
                    <div>
                        <div class="post-home">
                            <img src="{% static images|random %}">
                            <p class="mb-0">{{user.name}}</p>
                            <p><a href="{% url 'recsys:user_detail' user.id%}">Read More</a></p>
                        </div>
                    </div>
                {% endfor %}
                </ul>
            </div>
		</div>
    </div>
</div>

{% else %}
<p>No users could be found.</p>
{% endif %}
{% endblock %}