{% extends 'base.html' %}

{% block title %}
<h2>User list</h2>
{% endblock %}
{% block content %}
{% if found_entries %}
<div class="row">
  {% for user in found_entries %}
  <div class="col-sm-2">
        <div class="thumbnail" style="border: 0 none; box-shadow: none;">
      <div class="caption">
        <img src="http://graph.facebook.com/{{user.id}}/picture?type=square" style="width: 50px; height: 50px;">
        <h6>{{ user.name }}</h6>
        <p><a href="{% url 'recsys:user_detail' user.id%}">Read More</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
    <p>No users are available.</p>
{% endif %}
{% endblock %}