{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'recsys/style.css' %}">
<link href="https://fonts.google.com/specimen/Vollkorn?selection.family=Vollkorn" rel="stylesheet" type="text/css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% block bootstrap3_content %}
<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'recsys:home' %}"> Home </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'recsys:post_list' %}">Posts</a></li>
                <li><a href="{% url 'recsys:page_list' %}">Pages</a></li>
                <li><a href="{% url 'recsys:user_list' %}">Users</a></li>
                <li>
                    <form class="" method="get" action="{% url 'recsys:user_search'%}">
                       <input name="q" id="id_q" type="text" class="form-control" placeholder="Search" />
                    </form>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </nav>


    <h1>{% block title %}(no title){% endblock %}</h1>

    {% bootstrap_messages %}

    {% block content %}(no content){% endblock %}
</div>

{% endblock %}
