{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}

<!--<div class="container">-->
    <!--<nav class="navbar navbar-default">-->
        <!--<div class="navbar-header">-->
            <!--&lt;!&ndash;<a class="navbar-brand" href="{% url 'reviews:review_list' %}">Winerama</a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse

         collapse">-->
            <!--&lt;!&ndash;<ul class="nav navbar-nav">&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="{% url 'reviews:wine_list' %}">Wine list</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="{% url 'reviews:review_list' %}">Home</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
            <!--&lt;!&ndash;{% if user.is_authenticated %}&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="{% url 'reviews:user_review_list' user.username %}">Hello {{ user.username }}</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="{% url 'reviews:user_recommendation_list' %}">Wine suggestions</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="{% url 'auth:logout' %}">Logout</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;{% else %}&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="{% url 'auth:login' %}">Login</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="/accounts/register">Register</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</div>-->
    <!--</nav>-->
    <!---->

    <!--<h1>{% block title %}(no title){% endblock %}</h1>-->

    <!--{% bootstrap_messages %}-->

    <!--{% block content %}(no content){% endblock %}-->
<!--</div>-->

{% endblock %}
