body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}


.carousel .item {
  height: 500px;
  background-color: #777;
}

@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}